.container {
    border: 3px solid black;
    margin: 10px;
    position: relative;
    height: 4000px;
}

img {
    margin: 10px;
}

.image2 {
    position: absolute;
    top: 50px;
    right: 50px;
}

.image3 {
    position: fixed;
}

.image1 {
    position: sticky;
    top: 100px;
}

.box {
    height: 400px;
    width: 400px;
    background-color: aqua;
    border: 4px solid;
    transition-property: width;
    transition-duration: 4s;
    transition-delay: 1s;
    transition-timing-function: linear;
}

.box:hover {
    width: 1000px;
}

.animation-container {
    height: 100vh;
    width: 100vw;
    background-color: beige;
}

.animation-box {
    height: 50vh;
    width: 40vw;
    background-color: blueviolet;
    border-radius: 4px;
    padding: 20px;
    margin: 10px;
    border: 2px solid yellow;
    animation-name: rightmovt;
    position: relative;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    /*animation-direction: alternate; */
    animation-fill-mode: both;
    animation-play-state: running;
}

@keyframes rightmovt {
    from {
        top: 0;
        left: 0;
    }

    to {
        top: 0;
        left: 800px;
    }
}

.box1 {
    height: 300px;
    width: 400px;
    background-color: aqua;
    top: 5000px;
    position: absolute;
    z-index: 1;
}

.box2 {
    height: 300px;
    width: 400px;
    background-color: bisque;
    position: absolute;
    right: 600px;
    z-index: 2;
}

.boxes-container {
    height: 500px;
}

.box3 {
    height: 500px;
    width: 500px;
    background-color: red;
    z-index: 3;
    justify-content: center;
}

.units-container {
    border: 4px solid red;
    width: 50%;
    height: 100vh;
    width: 50vw;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: blueviolet;
    text-transform: capitalize;
    letter-spacing: 4px;
    word-spacing: 2px;
}